// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #252525;
    font-family: sans-serif;
}


a:hover {
    color: #007bff;
}

nav>ul>li>a {
    text-decoration: none;
    font-weight: 600;
    color: rgba(17, 17, 17, 0.959);
    display: inline-block;
}

#jumbotron {
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.icon-img {
    max-width: 4rem;
    height: auto;
}

.bg-dc-comics {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}